{% extends 'viewer/template.html' %}

{% block nav-links %}
<li><a class="nav-link px-2 text-white" href="/perro">Perros</a></li>
<li><a class="nav-link px-2 text-secondary" href="/cliente">Clientes</a></li>
<li><a class="nav-link px-2 text-white" href="/citas">Citas</a></li>
<li><a class="nav-link px-2 text-white" href="/calendario">Calendario</a></li>
{% endblock nav-links%}
{% block content %}
<div class="container my-5">
    {% if clientes %}
    <h2>Clientes</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td><a class="text-decoration-none text-black" href="/cliente/{{ cliente.id }}">{{ cliente.nombre }}</a>
                </td>
                <td><a class="text-decoration-none text-black" href="/cliente/{{ cliente.id }}">{{ cliente.apellido }}</a></td>
                <td>{{ cliente.telefono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No hay clientes.</h2>
    {% endif %}
</div>
{% endblock content %}