{% extends 'viewer/template.html' %}
{% block content %}
<div class="container">
    <div class="container my-4">
        <div class="container">
            <h1 class="display-4">{{ cliente.nombre }} {{ cliente.apellido }}</h1>
        </div>
        <hr class="hr">
        <div class="container">
            <div class="row">
                <h2>Información</h2>
                <div class="col-md-4 me-5">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Nombre:</b> {{ cliente.nombre }}</li>
                        <li class="list-group-item"><b>Apellido:</b> {{ cliente.apellido }}</li>
                        <li class="list-group-item"><b>Teléfono:</b> {{ cliente.telefono }}</li>
                        <li class="list-group-item"><b>Email:</b> {{ cliente.email }}</li>
                    </ul>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-header">
                            Perros
                        </div>
                        <div class="card-body">
                            {% if perros %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Raza</th>
                                        <th scope="col">Peso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for perro in perros %}
                                    <tr>
                                        <td><a class="text-decoration-none text-black" href="/perro/{{ perro.id }}">{{ perro.nombre }}</a></td>
                                        <td>{{ perro.raza }}</td>
                                        <td>{{ perro.peso }} kg</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h2>No hay perros.</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}