{% extends 'viewer/template.html' %}

{% block content %}
<div class="container my-5">
    <h2>Nuevo Cliente</h2>
    {% if errors %}
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}
    <form action="/cliente/new/" method="post">
        {% csrf_token %}
        <div class="row my-3">
            <div class="col-md">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required value="{{ form.nombre.value }}">
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" required value="{{ form.apellido.value }}">
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md">
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" required value="{{ form.telefono.value }}">
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required value="{{ form.email.value }}">
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}