{% extends 'viewer/template.html' %}

{% block nav-links %}
<li><a class="nav-link px-2 text-white" href="/perro">Perros</a></li>
<li><a class="nav-link px-2 text-white" href="/cliente">Clientes</a></li>
<li><a class="nav-link px-2 text-white" href="/calendario">Calendario</a></li>
{% endblock nav-links%}
{% block content %}
<div class="container my-5">
    {% if citas_hoy %}
    <h2>Citas para hoy</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Hora</th>
                <th scope="col">Cliente</th>
                <th scope="col">Perro</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas_hoy %}
            <tr>
                <td><a class="text-decoration-none text-black" href="/cita/{{ cita.id }}">{{ cita.hora }}</a></td>
                <td><a class="text-decoration-none text-black" href="/cliente/{{ cita.duenho.id }}">{{ cita.duenho }}</a></td>
                <td><a class="text-decoration-none text-black" href="/perro/{{ cita.perro.id }}">{{ cita.perro }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No hay citas para hoy.</h2>
    {% endif %}
</div>
{% endblock content %}