{% extends 'viewer/template.html' %}

{% block nav-links %}
<li><a class="nav-link px-2 text-secondary" href="/perro">Perros</a></li>
<li><a class="nav-link px-2 text-white" href="/cliente">Clientes</a></li>
<li><a class="nav-link px-2 text-white" href="/calendario">Calendario</a></li>
{% endblock nav-links%}
{% block content %}
<div class="container my-5">
    {% if perros %}
    <h2>Perros</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Dueño</th>
            </tr>
        </thead>
        <tbody>
            {% for perro in perros %}
            <tr>
                <td><a class="text-decoration-none text-black" href="/perro/{{ perro.id }}">{{ perro.nombre }}</a></td>
                <td>{{ perro.raza }}</td>
                <td><a class="text-decoration-none text-black" href="/cliente/{{ perro.duenho.id }}">{{ perro.duenho }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No hay perros.</h2>
    {% endif %}
</div>
{% endblock content %}